@media(min-width: 1150px) {

  .lotus {
    width: 100%;
    max-width: 100%;
    height: 80vh;
  }

  .footer {
    width: auto;
    max-width: 100%;
    height: 20vh;
    position: relative;
  }

  .logo {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 15vh;
    max-width: 100%;
    width: auto;
  }

  .icons {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 15vh;
    max-width: 100%;
    width: auto;
  }

  .iconimage {
    max-width:8vw;
    max-height:9vh;
  }
}
